/* main column layout */

body{
	font-family: sans-serif;
}

.column-container {
	display: flex;
	margin-right: auto;
	margin-left: auto;
	max-width: 1200px;
}

.column {
	flex: 1;
}

/* header title */

.quiz-title {
	margin-right: auto; 
	margin-left: auto;
	max-width: 600px;
	text-align: center;
	font-size: 3em;
}
/* columns */

.left-column {
	max-width: 170px;
	position: relative;
}

.center-column {
	width: 736px;
	position: relative;
}

.right-column {
	max-width: 280px;
}

/* left column elements */

.counter-box {
	width: 100%;
	position: absolute;
	top: 0;
}

.counter-box-title {

}

.counter {
	font-size: 5em;
	text-align: right;
}

.correct-top-text {
	text-align: left;
}

.correct-count-box {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.correct-count-text{

}

.correct-counter {
	font-size: 5em;
	text-align: right;
}

/* right column elements */

.question-box {
	margin-top: 200px;
}

.question {
	font-weight: bold;
	margin-bottom: 1em;
	border: 1px solid #000;
	padding: 0.5em;
	text-align: center;
}

.possible-answers {
	margin-left: auto;
	margin-right: auto;
	width: 160px;
}

.answer-item {
	margin-bottom: 1.5em;
}

.input-button {
	width: 50px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 1em;
}
